/* nawigacja */

.nav__list {
  display: flex;
  padding: 15px 15px;
  margin-right: auto;
  gap: 46px;
  justify-content: space-evenly;
  list-style: none;
  align-items: center;
}

.nav__link {
  color: var(--color-h2);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    background-color: var(--color-header);
    color: var(--logo1-color);
    border-color: var(--logo1-color);
    fill: var(--logo1-color);
  }
}

.nav__link--active {
  color: var(--logo1-color);
  position: relative;
  text-decoration: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;

  &:after {
    content: "";
    position: absolute;
    bottom: -33px;
    left: 0px;
    width: 100%;
    height: 4px;
    background-color: var(--logo1-color);
    border-radius: 2px;
  }
}
