.newsletter-footer {
  margin-left: auto;
  margin-right: 0;

  @media screen and (min-width: 1200) {
  }
  margin: 0 auto 94px 0px;
  padding-top: 12px;

  &__text {
    color: var(--color-header);
    text-transform: uppercase;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.17;
    margin-bottom: 20px;
  }
}
