.social-footer {
  justify-content: center;
  margin-bottom: 60px;
  @media screen and (min-width: 1200px) {
    margin: 0 78px 100px 70px;
  }
  &__text {
    color: var(--color-header);
    text-transform: uppercase;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.17;
    text-align: center;
    @media screen and (min-width: 1200px) {
      text-align: left;
    }
  }
}
