.social-footer {
  margin-right: auto;
  margin-bottom: 60px;
  @media screen and (min-width: 1200px) {
    margin: 0 78px 100px 70px;
    padding-top: 12px;
  }
  &__text {
    color: var(--color-header);
    text-transform: uppercase;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.17;
  }
}
