.container {
  padding: 0 15px;
  margin: 0 auto;
  width: 100%;
  max-width: 1200px;
  display: flex;
}
// @media screen and (min-width: 480px) {
//   width: 480px;
// }
//   @media screen and (min-width: 768px) {
//     max-width: 768px;
//   }
//   @media screen and (min-width: 1200px) {
//     max-width: 1200px;
//     flex-wrap: wrap;
//   }
// }

.container--h1 {
  display: block;
}

.container--describe {
  display: block;
}

.container--img {
  display: block;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.container--footer {
  display: flex;
  @media screen and (max-width: 768px) {
    flex-direction: column;
  }
  @media screen and (max-width: 1199px) {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
  }

  @media screen and (min-width: 1200px) {
    display: flex;
    flex-wrap: nowrap;
  }
}

.container-contact {
  display: block;

  margin-bottom: 60px;
  @media screen and (min-width: 768px) {
    margin-right: 165px;
    margin-left: 76px;
  }

  @media screen and (min-width: 1200px) {
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0;
  }
}
